.pet {
  position: fixed;
  bottom: 20px;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.dog {
  width: 150px;
}


.bubble {
  background: white;
  color: black;
  padding: 10px 15px;
  border-radius: 20px;
  margin-bottom: 10px;
  font-size: 18px;
  white-space: nowrap;
}


/* 오른쪽 이동 */
.pet.right {
  animation: moveRight 10s linear forwards;
}


/* 왼쪽 이동 */
.pet.left {
  animation: moveLeft 10s linear forwards;
}



@keyframes moveRight {

  from {
    left: -200px;
  }

  to {
    left: 100%;
  }

}



@keyframes moveLeft {

  from {
    right: -200px;
  }

  to {
    right: 100%;
  }

}
