body {
  overflow: hidden;
}


.pet {

  position: fixed;

  bottom: 30px;

  display: flex;

  flex-direction: column;

  align-items: center;

  z-index: 9999;

}



.dog {

  width: 150px;

}



.bubble {

  background: white;

  color: black;

  padding: 10px 18px;

  border-radius: 20px;

  margin-bottom: 10px;

  font-size: 18px;

  white-space: nowrap;

}



.pet.right {

  left: -200px;

  animation: moveRight 10s linear forwards;

}



.pet.left {

  right: -200px;

  animation: moveLeft 10s linear forwards;

}



@keyframes moveRight {

  from {

    left: -200px;

  }


  to {

    left: 100%;

  }

}



@keyframes moveLeft {

  from {

    right: -200px;

  }


  to {

    right: 100%;

  }

}
