body {
  overflow: hidden;
}


/* 펫 한 마리 전체 */
.pet {
  position: fixed;
  bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 9999;
}


/* 말풍선 */
.bubble {
  background: white;
  color: black;
  padding: 8px 15px;
  border-radius: 20px;
  font-size: 18px;
  margin-bottom: 8px;
  white-space: nowrap;
  max-width: 300px;
  overflow: hidden;
}


/* 강아지 */
.dog {
  width: 140px;
  height: auto;
}



/* 왼쪽에서 오른쪽 */
.move-right {

  left: -200px;

  animation: rightMove 8s linear forwards;

}



/* 오른쪽에서 왼쪽 */
.move-left {

  right: -200px;

  animation: leftMove 8s linear forwards;

}




@keyframes rightMove {

  from {

    transform: translateX(0);

  }


  to {

    transform: translateX(120vw);

  }

}




@keyframes leftMove {

  from {

    transform: translateX(0);

  }


  to {

    transform: translateX(-120vw);

  }

}
